<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealerApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.complaints.myProfileAdmin"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.myProfileClient"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.cook.myProfileCook"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.ComplaintCreation"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.cook.CookProfile"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.cook.CompletedSales"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.cook.MySales"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.CompletedPurchases"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.MealsSearch"
            android:exported="false"
            android:label=""
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.MyPurchases"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.client.ClientRecipeView"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.cook.CookRecipeView"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.cook.MyOfferedMealsActivity"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.cook.CreateRecipe"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.cook.MyMealsActivity"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.complaints.ComplaintsDecision"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".ui.complaints.ComplaintsActivity"
            android:exported="false"
            android:label="ComplaintsActivity"
            android:theme="@style/Theme.MealerApplication.NoActionBar">

        </activity>

        <activity
            android:name=".ui.welcome.Welcomephase2"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.welcome.WelcomeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.registration.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MealerApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>